<style>
    .footer {
        background-color: #f2f3f4;
        margin-top: 50px;
        width: 100%;
    }
    .main {
        justify-content: center;
    }
    .main-item {
        font-weight: bold;
        font-size: 18px;
        padding-right: 120px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .main-item-2 {
        font-weight: 200;
        font-size: 18px;
    }
    .footer-item {
        display: flex;
        justify-content: center;
    }
    .line-spacing {
        margin-top: 0;
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 16px;
        width: 100%;
        border-bottom: 1px solid rgb(217, 223, 232);
    }
</style>

<div class="footer">
    <div class="main">
        <div class="footer-item">
            <div class="main-item">
                Hỗ trợ khách hàng
                <div class="main-item-2">
                    Hotline: 0900 100 000
                </div>
                <div class="main-item-2">
                    Câu hỏi thường gặp
                </div>
                <div class="main-item-2">
                    Hướng dẫn đặt hàng
                </div>
                <div class="main-item-2">
                    Thông tin tuyển dụng
                </div>
                <div class="main-item-2">
                    Email: tlx2@bookshop.com
                </div>
            </div>
            <div class="main-item">
                Công ty TNHH BTV TLx2
                <div class="main-item-2">
                    Địa chỉ: PM1802 Khoa CNTT
                </div>
            </div>

            <div class="main-item">
                Thông tin
                <div class="main-item-2">
                    Về TLx2
                </div>
                <div class="main-item-2">
                    Tài khoản
                </div>
            </div>
        </div>
        <div class="line-spacing"></div>
        <div class="footer-item">
            
            <div class="main-item" style="padding-right: 0">
                Công ty TNHH BTV TLx2
                <div class="main-item-2">
                    Địa chỉ: PM1802 Khoa CNTT
                </div>
            </div>

        </div>
    </div>
</div>
