<ul class="sidebar-menu" data-widget="tree" style="margin-top:20px">
    <li class="header">SÁCH</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <!-- Book manage -->
        <a href="#">
            <i class="fa fa-user"></i> <span>Quản lý Sách</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Books">Danh sách sách</a></li>
            <li><a href="/NhaCungCap">Nhà cung cấp</a></li>
            <li><a href="/NhaXuatBan">Nhà xuất bản</a></li>
            <li><a href="/TacGia">Tác giả</a></li>
            <li><a href="/TheLoai">Thể loại</a></li>
        </ul>
    </li>
    <li class="header">ĐƠN HÀNG</li>
    <li class="treeview">
        <!-- Order manage -->
        <a href="#">
            <i class="fa fa-user"></i> <span>Quản lý đơn hàng</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Order">Danh sách đơn hàng</a></li>
            <li><a href="/OrderState">Trạng thái đơn hàng</a></li>
        </ul>
    </li>
    <li class="treeview">
        <!-- Order manage -->
        <a href="#">
            <i class="fa fa-user"></i> <span>Quản lý hóa đơn</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Bill">Danh sách hóa đơn</a></li>
        </ul>
    </li>
    <li class="treeview">
        <!-- Order manage -->
        <a href="#">
            <i class="fa fa-user"></i> <span>Quản lý giá</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/ManualPrice">Thủ công</a></li>
            <li><a href="/AutoPrice">Tự động</a></li>
        </ul>
    </li>
    <li class="header">NGƯỜI DÙNG</li>
    <li class="treeview">
        <!-- Customer manage -->
        <a href="#">
            <i class="fa fa-user"></i> <span>Quản lý khách hàng</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/CustomerInfo">Thông tin khách hàng</a></li>
            <li><a href="/Feedback">Feedback</a></li>
        </ul>
    </li>
    <li class="treeview">
        <!-- Account manage -->
        <a href="#">
            <i class="fa fa-user"></i> <span>Quản lý tài khoản</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/CustomerAccount">Tài khoản khách hàng</a></li>
            <li><a href="/AdminAccount">Tài khoản quản trị viên</a></li>
        </ul>
    </li>

</ul>


