<style>
    .navbar .navbar-toggle {
        border-color: #fff;
    }

        .navbar .navbar-toggle .icon-bar {
            background: #fff;
        }

        .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
            background: transparent;
        }

    .navbar .navbar-nav .open .dropdown-menu {
        background: #faf7fd;
        border-radius: 1px;
        border-color: #faf7fd;
        box-shadow: 0 2px 8px rgba(0,0,0,.05);
    }

    .navbar .divider {
        background-color: #e9ecef !important;
    }
    .navbar .navbar-nav > a > i {
        display: block;
        text-align: center;
    }

    .navbar .dropdown-item i {
        font-size: 16px;
        min-width: 22px;
    }

    .navbar .dropdown-item .material-icons {
        font-size: 21px;
        line-height: 16px;
        vertical-align: middle;
        margin-top: -2px;
    }

    .navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
        color: #fff;
        background: none !important;
    }

    .navbar .dropdown-menu {
        border-radius: 1px;
        border-color: #e5e5e5;
        box-shadow: 0 2px 8px rgba(0,0,0,.05);
    }

        .navbar .dropdown-menu a {
            color: #777 !important;
            padding: 8px 20px;
            line-height: normal;
            font-size: 15px;
        }

            .navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
                color: #333 !important;
                background: transparent !important;
            }
    .navbar .nav-item span {
        position: relative;
        top: 3px;
    }
    .sign-item {
        margin-right: 15px;
    }
</style>
<nav class="navbar navbar-expand-sm" style="background-color: rebeccapurple ; padding: 0;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="padding-left: 62px">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "uHome")">Trang Chủ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Search", "uHome")">Tìm kiếm sản phẩm</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Danh Mục Sản Phẩm
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Văn Học Trong Nước</a>
                    <a class="dropdown-item" href="#">Văn Học Nước Ngoài</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Nhà Xuất Bản</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="sign-item">
            @if (Session["TEN_DANGNHAP"] == null)
            {
                <a href="/UserLogin/Index" style="text-decoration: none; color: white;"><p style="margin: 5px;font-size: 20px;">Đăng Nhập</p></a>
            }
            else
            {
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action">@Session["TEN_DANGNHAP"]<b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <a href=@Url.Action("Details","CustomerInfo")  class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
                        <div class="divider dropdown-divider"></div>
                        <a href=@Url.Action("Logout","UserLogin") class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
                    </div>
                </div>
            }

        </div>
        <div>
            <span>
                <a href="/ShoppingCart/ShowCart">
                    <i class='fa fa-shopping-cart' style='font-size: 37px;color: white;margin-top: 10px;padding: 0px;margin-left: 3px;'></i>
                </a>
            </span>
            @Html.Action("BagCart", "ShoppingCart")
        </div>
</nav>

