@model IEnumerable<Homepage.Models.SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content {
        margin-left: 35%;
        margin-right: 35%;
    }
</style>
@using (Html.BeginForm())
{
    <div class="content">
        <p style="font-size: 17px">Tên sách:</p>
        <select name="ID_SACH" style="height:30px">
            <option value="-1" >Chọn sách ...</option>
            @foreach (var item in Model)
            {
                <option value="@item.ID_SACH">@item.TEN_SACH</option>
            }
        </select>
        <br />
        @if(ViewBag.ErrorContent != null)
                {
                    <p style="color:red">*@ViewBag.ErrorContent</p>
                }
        <br />
        <input type="submit" value="Xem feedback" class="btn btn-default" />
    </div>
}
<br />
