@{
    Layout = null;
}
@using (Html.BeginForm("Create", "uHome", FormMethod.Post))
{
    <div class="block">
        <h3>Nhận Xét</h3>
        <textarea name="NOIDUNG"></textarea>
        <input id="submitFb" type="submit" name="name" value="Post" />
    </div>
}