@model IEnumerable<Homepage.Models.SACH>

@{
    ViewBag.Title = "Đam Mỹ";
    Layout = "~/Views/Shared/_homepageLayout.cshtml";
}
<style>
    .container-type {
        font-size: 30px;
        background-color: #6e72fc;
        background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
        color: white;
        text-align: center;
        margin-right: 65px;
        margin-left: 65px;
        height: 48px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
</style>
<div class="container-type">
    <p>Sách Đam Mỹ</p>
</div>
<div class="row-table">
    @foreach (var item in Model)
    {
        if (item.THELOAI.TEN_THELOAI == "Đam Mỹ")
        {

            <!-- Team member -->
            <div class="product_contener">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="image">
                            @foreach (var anh in item.ANHBIAs)
                            {
                                <img src="@Url.Content(anh.ANH)" />
                                break;
                            }
                        </div>
                        <div class="productname" style="overflow: hidden">
                            @Html.ActionLink(@item.TEN_SACH, "Details", new { id = item.ID_SACH })

                        </div>
                        <div class="author-name">
                            <p class="card-text">@{Html.RenderAction("GetNameTG", "uHome", new { id = item.ID_TACGIA });}</p>
                        </div>
                        <div class="price">
                            <p class="money">@string.Format("{0:#,##0.##}", item.GIA_BAN)</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        }

    }
</div>

