@model Homepage.Models.CHITIETDONHANG
<h3> class="text-center"> Đơn hàng</h3>
@using (Html.BeginForm("CreateOrderDetail", "Order"))
{
    <table class="table table-bordered table-hover">
        <tr>
            <td>Mã đơn hàng:</td>
            <td>@Html.TextBoxFor(model => model.ID_DONHANG, htmlAttributes: new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>Tên sách:</td>
            <td>@{Html.RenderAction("SelectBooks", "Order");}</td>
        </tr>
        <tr>
            <td>Số lượng:</td>
            <td>@Html.TextBoxFor(model => model.SOLUONG)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Thêm" />
            </td>
        </tr>
    </table>
}

