@model IEnumerable<Homepage.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "ManageOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2 class="text-center">Quản lý chi tiết đơn hàng</h2>

@{Html.RenderAction("CreateOrderDetail", "Order");}

<table class="table" style="margin-left:7%;width:80%">
    <tr>
        <th>
            Tên sách
        </th>
        <th>
            Giá bán
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Tổng tiền
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("UpdateQuantity",item)
            <td>
                @Html.ActionLink("Delete", "DeleteOrderDetail", new { id = item.ID_CTDH })
            </td>
        </tr>
    }

</table>
<style>
    .backBtn {
        margin-top: 10px;
        background-color: gainsboro;
        color: darkslateblue;
        margin-left: 20px;
        padding: 10px 20px 10px 20px;
    }

        .backBtn:hover {
            background-color: darkslateblue;
            color: white;
            text-decoration: none;
        }
</style>
<div>
    @Html.ActionLink("Trở về trang chủ", "DanhSachDonHang", "Order",new { id =  0}, htmlAttributes: new { @class = "backBtn" })
</div>