@model Homepage.Models.CHITIETDONHANG

<style>
    .fakeLable {
        background-color: transparent;
        border-style: none;
        width: fit-content();
    }
</style>
@using (Html.BeginForm("UpdateQuantity", "Order"))
{
    <td>
        @Html.DisplayFor(modelItem => modelItem.SACH.TEN_SACH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.GIA_BAN)
    </td>
    <td>
        @Html.TextBoxFor(modelItem => modelItem.SOLUONG)
        <input type="submit" value="Cập nhật" class="btn btn-default"/>
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.TONGTIEN)
    </td>
}

