@model IEnumerable<Homepage.Models.SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h3 class="text-center">Cập nhật giá - Thủ công</h3>

<table class="table table-bordered table-hover" style="width:80%;margin-left:10%">
    <tr>
        <th hidden>
            @Html.DisplayNameFor(model => model.ID_SACH)
        </th>
        <th>
            TÊN SÁCH
        </th>
        <th>
            GIÁ BÌA
        </th>
        <th>
            GIÁ BÁN
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("UpdatePrice", item)
    }

</table>
