@model Homepage.Models.ANHBIA

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Content/Scripts/AddImage.js"></script>
    <br />
    <h4 class="text-center">ẢNH BÌA</h4>
    @using (Html.BeginForm("UploadImages", "BookImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-left:37%">
    <hr />
    <img src="~/Content/Images/45132924_2137631566256381_8060785941003894784_n.jpg" id="previewImg" width="350" height="350" style="border-radius:10px" />
    <br />
    <input type="file" name="ImageFile" id="myFile" onchange="ChangeImage(this, document.getElementById('previewImg'))" style="width:0px"/>
    <label for="myFile">+ Chọn ảnh ...</label>
    <br />
    <input type="submit" value="Xác nhận" class="btn btn-default" style="margin-left:17%" />
</div>
    }

    <style>
        .backBtn {
            margin-top: 10px;
            background-color: gainsboro;
            color: darkslateblue;
            margin-left: 20px;
            padding: 10px 20px 10px 20px;
        }

            .backBtn:hover {
                background-color: darkslateblue;
                color: white;
                text-decoration: none;
            }
    </style>
    <div>
        @Html.ActionLink("Trở về trang chủ", "Index", "Books", htmlAttributes: new { @class = "backBtn" })
    </div>
</body>
</html>
