@model Homepage.Models.ANHBIA

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Content/Scripts/AddImage.js"></script>


    @using (Html.BeginForm("UploadImages", "BookImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ẢNH BÌA</h4>
            <hr />
            <img src="~/Content/Images/45132924_2137631566256381_8060785941003894784_n.jpg" id="previewImg" width="350" height="350" />
            <br />
            <input type="file" name="ImageFile" value="Thêm ảnh ..." onchange="ChangeImage(this, document.getElementById('previewImg'))" />
            <br />
            <input type="submit" value="Xác nhận" class="btn btn-default" />
        </div>
    }

    <style>
        .backBtn {
            margin-top: 10px;
            background-color: gainsboro;
            color: darkslateblue;
            margin-left: 20px;
            padding: 10px 20px 10px 20px;
        }

            .backBtn:hover {
                background-color: darkslateblue;
                color: white;
                text-decoration: none;
            }
    </style>
    <div>
        @Html.ActionLink("Trở về trang chủ", "Index", "BookImage", htmlAttributes: new { @class = "backBtn" })
    </div>
</body>
</html>
