@model IEnumerable<Homepage.Models.LOAITAIKHOAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h3 class="text-center">LOẠI TÀI KHOẢN</h3>

<p class="btn btn-default" style="margin-left: 20px">
    @Html.ActionLink("Thêm loại tài khoản", "Create")
</p>
<table class="table table-bordered table-hover" style="margin-left:20px;margin-right:20px">
    <tr>
        <th>
            Tên loại
        </th>
        <th>
            Mức đạt được
        </th>
        <th>
            Thao tác
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TEN_LOAITK)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MUC_DATDUOC)
    </td>
    @if (item.TEN_LOAITK != "Thường")
    {
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.ID_LOAITK })
        </td>
    }

</tr>
    }

</table>
