@model Homepage.Models.THELOAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_homepageLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4 class="text-center">Chi tiết thể loại</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            MÃ THỂ LOẠI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_THELOAI)
        </dd>

        <dt>
           TÊN THỂ LOẠI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_THELOAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID_THELOAI }) |
</p>
<style>
    .backBtn {
        margin-top: 10px;
        background-color: gainsboro;
        color: darkslateblue;
        margin-left: 20px;
        padding: 10px 20px 10px 20px;
    }

        .backBtn:hover {
            background-color: darkslateblue;
            color: white;
            text-decoration: none;
        }
</style>
<div>
    @Html.ActionLink("Trở về trang chủ", "Index", "TheLoai", htmlAttributes: new { @class = "backBtn" })
</div>
