@model Homepage.Models.THELOAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <br/>
    <h3 class="text-center">Chi tiết thể loại</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            MÃ THỂ LOẠI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_THELOAI)
        </dd>

        <dt>
           TÊN THỂ LOẠI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_THELOAI)
        </dd>
        <dt>
            Thao tác
        </dt>
        <dd>
            @Html.ActionLink("Sửa", "Edit", new { id = Model.ID_THELOAI })
        </dd>
    </dl>
</div>
<style>
    .backBtn {
        margin-top: 10px;
        background-color: gainsboro;
        color: darkslateblue;
        margin-left: 20px;
        padding: 10px 20px 10px 20px;
    }

        .backBtn:hover {
            background-color: darkslateblue;
            color: white;
            text-decoration: none;
        }
</style>
<div>
    @Html.ActionLink("Trở về trang chủ", "Index", "TheLoai", htmlAttributes: new { @class = "backBtn" })
</div>
