@model Homepage.Models.TACGIA

<div>
    <h4>TACGIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_TACGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TACGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEN_TACGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_TACGIA)
        </dd>

    </dl>
</div>
