@model Homepage.Models.TACGIA

<div>
    <h4 class="text-center">Chi tiết tác giả</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            MÃ TÁC GIẢ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TACGIA)
        </dd>

        <dt>
           TÊN TÁC GIẢ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_TACGIA)
        </dd>

    </dl>
</div>
<style>
    .backBtn {
        margin-top: 10px;
        background-color: gainsboro;
        color: darkslateblue;
        margin-left: 20px;
        padding: 10px 20px 10px 20px;
    }

        .backBtn:hover {
            background-color: darkslateblue;
            color: white;
            text-decoration: none;
        }
</style>
<div>
    @Html.ActionLink("Trở về trang chủ", "Index", "TacGia", htmlAttributes: new { @class = "backBtn" })
</div>
