@model IEnumerable<Homepage.Models.TRANGTHAIDONHANG>

@{
    ViewBag.Title = "DanhSachTrangThai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2 class="text-center">Danh sách trạng thái</h2>

<p class="btn btn-default" style="margin-left:7%">
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered table-hover" style="margin-left:7%; margin-right:7%">
    <tr>
        <th>
            TÊN TRẠNG THÁI
        </th>
        <th>THAO TÁC</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TEN_TRANGTHAI)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID_TRANGTHAI }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID_TRANGTHAI })
            </td>
        </tr>
    }

</table>
