@model Homepage.Models.NHACUNGCAP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h3 class="text-center"> Nhà Cung Cấp</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_NCC)
        </dd>

        <dt>
            Tên nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_NHACUNGCAP)
        </dd>
        <dt>
            Thao tác
        </dt>
        <dd>
            @Html.ActionLink("Sửa", "Edit", new { id = Model.ID_NCC }) |
            @Html.ActionLink("Trở về trang chủ", "Index")
        </dd>
    </dl>
</div>

